<div class="container">
  <h1>Meal indexxxxx</h1>

  <% @groups.each do |group| %>

    <h3><%= group.name %></h3>
    <h4>Meals: <%= @week_days.first.strftime("%B %e") %> - <%= @week_days.last.strftime("%e") %></p></h4>

    <div class="row no-gutters">

      <% @week_days.each do |day| %>

        <div class="col-xs-14 col-sm-7 col-md-2">
          <div class="card">
            <div class ="card-heading">
              <h4><%= day.strftime("%A %e") %></h4>
            </div>

            <div class="card-body">
              <% meal = @meals.find { |meal| meal.date == day && meal.group_id == group.id } %>

              <% if meal %>

                <%= link_to meal_path(meal.id) do %>

                  <div class="meal-link">
                    <%= image_tag avatar_url(meal.user), class: "avatar-md"%>
                    <p><%= meal.user.username %> </p>
                    <p>Cooking: <%= meal.name %></p>
                  </div>

                <% end %>

              <% else %>

                <a type="button" class="" data-container="body" data-toggle="popover" data-placement="bottom" data-group-id="<%= group.id %>" data-day="<%= day %>">
                  Add
                </a>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  <% end %>

</div>

<div class="hidden-form">
  <%= render 'form', meal: @meal %>
</div>
