<div class="container index-container">
  <h3 class="fi flaticon-time-1 right-align">
  <%= @week_days.first.strftime("%B %e") %> - <%= @week_days.last.strftime("%B %e") %>
  </h3>

  <% @groups.each do |group| %>

    <h3 class = "fi flaticon-people-4"> <%= group.name %></h3>
    <%= link_to "edit", edit_group_path(group) %>

    <div class="row no-gutters index-row">

      <% @week_days.each do |day| %>

        <div class="col-xs-14 col-sm-7 seven-columns">
          <div class="card index-card">
            <div class ="card-heading">
              <%= day.strftime("%A %e") %>
            </div>

            <% meal = @meals.find { |meal| meal.date == day && meal.group_id == group.id } %>

            <% if meal %>

              <%= link_to meal_path(meal.id) do %>
                <div class="card-body">

                  <div class="meal-link">
                    <%= image_tag avatar_url(meal.user), class: "avatar-md"%>
                    <p class="fi flaticon-people-6"><%= meal.user.username %> </p>
                     <i class="fi flaticon-tool"></i>
                      <%= meal.name %>
                  </div>
                </div>
              <% end %>

            <% else %>
              <div class="card-body" role="button" class="" data-container="body" data-toggle="popover" data-placement="bottom" data-group-id="<%= group.id %>" data-day="<%= day %>">
               <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              </div>
            <% end %>

          </div>
        </div>

      <% end %>

    </div>

  <% end %>

</div>

<%= link_to "Add New Group", new_group_path, class: "btn btn-primary" %>

<div class="hidden-form">
  <%= render 'form', meal: @meal %>
</div>
