<h1>New Meals page! </h1>

<%= simple_form_for(@meal) do |f| %>
  <%= f.input :name %>
  <%= f.input :date %>
  <%= f.input :category %>
  <%= f.association :user, label_method: :username %>
  <%= f.association :group, label_method: :name %>

  <%= f.submit 'Create', class: "btn btn-primary" %>
  <% end %>
