<h1>Meal show page</h1>


<p><%= @meal.name %></p>
<p><%= @meal.user.username %></p>
<p><%= @meal.category %></p>
<p><%= @meal.group.name %></p>

<% if @recipes %>

  <% @recipes.each do |recipe| %>

    <%= link_to recipe.url,  target: :_blank do %>
      <p><%= recipe.name %></p>
      <%= image_tag recipe.image %>
    <% end %>

    <%= link_to "Add Recipe", meal_path(@meal, edamam_id: recipe.id), class: "btn btn-info", method: :patch %>
  <% end %>

<% else %>
  <p>
    <%= @recipe.label %>
  </p>
<% end %>

