<div class="form-page">
  <h2>Log in</h2>

  <div class="demo">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <p>This website is under construction,</p>
    <p>but feel free to look around</p>
    <p class= "demo-info">Email: demo@mail.com</p>
    <p class= "demo-info">Password: demo123</p>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
